<!-- <lib-angular-dnd></lib-angular-dnd> -->
<div class="scroll-pane">
    <div class="container">
        <div class="list">
            <div class="card" libDraggable>1</div>
            <div class="card" libDraggable>2</div>
            <div class="card" libDraggable>3</div>
        </div>
        <div class="list">
            <div class="card" libDraggable>4</div>
            <div class="card" libDraggable>5</div>
        </div>
        <div class="list">
            <div class="card" libDraggable>6</div>
            <div class="card" libDraggable>7</div>
            <div class="card" libDraggable>8</div>
            <div class="card" libDraggable>9</div>
        </div>
    </div>
</div>