.navbar {
    display: flex;
    min-height: 80px;
    background: #000;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;

    .navbar-link {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        line-height: 100%;
        padding: 20px;
        background: #000;
        cursor: pointer;
        transition: background 300ms ease;

        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }

        &:active {
            background: rgba(255, 255, 255, 0.2);
        }
    }
}