<div class="main-container">
  <div class="left">
    <h3>Items:</h3>
    <pre>{{items | json}}</pre>
  </div>
  <div class="right">
    <div class="scroll-pane">
      <div class="container"
           dndDraggableContainer
           [(data)]="items">
        <ng-container *ngFor="let item of items">
          <div class="card"
               dndDraggable
               [data]="item"
               (onDrop)="onItemDrop($event)">
            {{item + 1}}
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>