<div class="main-container">
  <div class="left">

  </div>
  <div class="right">
    <div class="scroll-pane">
      <div class="container">
        <div class="list"
             libDraggableContainer>
          <div class="card"
               libDraggable
               style="height: 20rem;">1</div>
          <div class="card"
               libDraggable>2</div>
          <div class="card"
               libDraggable>3</div>
        </div>
        <div class="list"
             libDraggableContainer>
          <div class="card"
               libDraggable>4</div>
          <div class="card"
               libDraggable
               style="height: 20rem;">5</div>
        </div>
        <div class="list"
             libDraggableContainer>
          <div class="card"
               libDraggable>6</div>
          <div class="card"
               libDraggable>7</div>
          <div class="card"
               libDraggable
               style="height: 20rem;">8</div>
          <div class="card"
               libDraggable>9</div>
        </div>
      </div>
    </div>
  </div>
</div>