<div class="main-container">
  <div class="left">

  </div>
  <div class="right">
    <div class="scroll-pane">
      <div class="container">
        <div class="list"
             dndDraggableContainer>
          <div class="card"
               dndDraggable
               style="height: 20rem;">1</div>
          <div class="card"
               dndDraggable>2</div>
          <div class="card"
               dndDraggable>3</div>
        </div>
        <div class="list"
             dndDraggableContainer>
          <div class="card"
               dndDraggable>4</div>
          <div class="card"
               dndDraggable
               style="height: 20rem;">5</div>
        </div>
        <div class="list"
             dndDraggableContainer>
          <div class="card"
               dndDraggable>6</div>
          <div class="card"
               dndDraggable>7</div>
          <div class="card"
               dndDraggable
               style="height: 20rem;">8</div>
          <div class="card"
               dndDraggable>9</div>
        </div>
      </div>
    </div>
  </div>
</div>